In [13]:
mydict ={
  "title" : ["Elasticsearch Guide","aaaa","bbb"],
  "author" : ["Kim","aaaa","bbb"],
  "date" : ["2014-05-01","aaaa","bbb"],
  "pages" : [250,1,22]
}

In [14]:
mydict

{'author': ['Kim', 'aaaa', 'bbb'],
 'date': ['2014-05-01', 'aaaa', 'bbb'],
 'pages': [250, 1, 22],
 'title': ['Elasticsearch Guide', 'aaaa', 'bbb']}

In [4]:
import pandas as pd

In [15]:
pd.DataFrame(mydict)

  author        date  pages                title
0    Kim  2014-05-01    250  Elasticsearch Guide
1   aaaa        aaaa      1                 aaaa
2    bbb         bbb     22                  bbb